
{% extends 'base.html' %}
{% load static %}

{% block title %}
سیاست حفظ حریم خصوصی
{% endblock %}

{% block main %} 
 <div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50" style="background-image: url({% static 'Theme/images/about-us/01.jpg' %});">  
    <div class="container-fluid"> 
        <div class="row align-items-center">
            <div class="col-sm-12">
                <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                    <h2 class="title">سیاست حفظ حریم خصوصی</h2>
                    <ol class="breadcrumb main-bg">
                        <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه</a></li> 
                        <li class="breadcrumb-item active">سیاست حفظ حریم خصوصی</li>
                    </ol>
                </nav>
            </div>
        </div> 
    </div>
</div>

<!-- Main container -->  
<main id="main" class="site-main">
<div class="container">
   <div class="row">
    <div class="col-lg-12 col-sm-12">

       <div class="iq-privacy-policy">
          <div class="mb-3">
          <h4 class="mb-3">1. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
          <p class="my-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p><br>
          
          </div>
          <div class="mb-3">
          <h4 class="mb-3">2. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
          <p class="mb-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
          <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p><br>
          
          </div>
          <div class="mb-3">
          <h4 class="mb-3">3. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
          <p class="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p><br>
          
          </div>
          <div class="mb-3">
          <h4 class="mb-3">4. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
          <p class="">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p><br>
          
          </div>
          <div class="mb-0">
          <h4 class="mb-3">5. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
          <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
          
      </div>
   </div>

    </div>
   </div>

    
        
</div>
</main>

<!-- Main container end -->
{% endblock %}