{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load hitcount_tags %}

{% block title %}
    صفحه اصلی
{% endblock %}

{% block meta %}
   <meta name="robots" content="index , follow"/>
{% endblock %}

{% block main %}
      <!-- Slider Start -->
      <section id="home" class="iq-main-slider p-0 iq-rtl-direction">
         <div id="home-slider" class="slider m-0 p-0">
            {% for video in latest_videos %}
            {% if video %}
            <div class="slide slick-bg" style="background-image: url({{video.image.url}});">
               <div class="container-fluid position-relative h-100">
                  <div class="slider-inner h-100">
                     <div class="row align-items-center  iq-ltr-direction h-100 ">
                        <div class="col-xl-6 col-lg-12 col-md-12">
                           <a href="javascript:void(0);">
                              <div class="channel-logo" data-animation-in="fadeInLeft" data-delay-in="0.5">
                                 <img src="{% static 'Theme/images/logo.png' %}" class="c-logo" alt="streamit">
                              </div>
                           </a>
                           <h1 class="slider-text big-title title text-uppercase" data-animation-in="fadeInLeft"
                              data-delay-in="0.6">{{video.title}}</h1>

                              <div class="d-flex flex-wrap align-items-center fadeInLeft animated" data-animation-in="fadeInLeft" style="opacity: 1;">
                                <div class="slider-ratting d-flex align-items-center mr-4 mt-2 mt-md-3">
                                    <span class="text-white ml-2"> آماربازدید: {% get_hit_count for video %}</span>
                                    </div>
                                    <div class="d-flex align-items-center mt-2 mt-md-3">
                                       <span class="badge badge-secondary p-2">{{video.age}}+</span>
                                    </div>
                            </div>

                           <!-- <div class="d-flex align-items-center" data-animation-in="fadeInUp" data-delay-in="1">
                               
                              <span class="badge badge-secondary p-2">18+</span>
                              <span class="ml-3">2 Seasons</span>
                           </div> -->
                           <p data-animation-in="fadeInUp" data-delay-in="1.2">
                            {{video.description|safe}}
                           </p>
                           <div class="trending-list" data-wp_object-in="fadeInUp" data-delay-in="1.2">
                            <div class="text-primary title starring">
                                بازیگران: <span class="text-body">{% for actor in video.actors.all %}{{actor.name}}
                                 {% endfor %}</span>
                            </div>
                            <div class="text-primary title genres">
                                ژانرها: <span class="text-body"> {% for category in video.category.all %}
                                <a href="{% url 'video:category_detail' category.slug %}"> {{category.title}}</a>
                                  {% endfor %}</span>
                            </div>
                        </div>
                           <div class="d-flex align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.2">
                              <a href="{% url 'video:video_detail' video.slug %}" class="btn btn-hover iq-button"><i class="fa fa-play mr-2"
                                 aria-hidden="true"></i>الان تماشا کن</a>
                              <a href="show-details.html" class="btn btn-link">جزئیات بیشتر</a>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-12 col-md-12 trailor-video text-center">
                        {% if video.trailer %}
                           <a href="{{video.trailer.url}}" class="video-open playbtn">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                                 enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                 <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10"
                                    points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                                 <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                              </svg>
                              <span class="w-trailor">مشاهده تریلر</span>
                           </a>
                        {% endif %}

                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
            {% endfor %}
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
               <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle"
                  fill="none" stroke="currentColor">
                  <circle r="20" cy="22" cx="22" id="test"></circle>
               </symbol>
            </svg>
            </div>
      </section>
      <!-- Slider End -->
      <!-- MainContent -->
      <div class="main-content">
         <section id="iq-favorites">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 overflow-hidden">
                     <div class="iq-main-header d-flex align-items-center justify-content-between">
                        <h4 class="main-title">جدیدترین فیلم ها</h4>
                        <a class="iq-view-all" href="movie-category.html">مشاهده همه</a>                   
                     </div>
                     <div class="favorites-contens">
                        <ul class="favorites-slider list-inline  row p-0 mb-0 iq-rtl-direction">
                           {% for video in latest_videos %}
                           {% if video %}
                           <li class="slide-item">
                              
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="{{video.image.url}}" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="{% url 'video:video_detail' video.slug %}">{{video.title}}</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                       <div class="badge badge-secondary p-1 mr-2">{{video.age}}</div>
                                       <span class="text-white">{{video.time}}</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <a href="{% url 'video:video_detail' video.slug %}" role="button" class="btn btn-hover iq-button">
                                       <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                       تماشا کردن
                                       </a>
                                    </div>
                                 </div>

                                 <div class="block-social-info">
                                     <ul class="list-inline p-0 m-0 music-play-lists">
                                        <li class="share">
                                           <span><i class="ri-share-fill"></i></span>
                                           <div class="share-box">
                                              <div class="d-flex align-items-center">
                                                {% post_to_whatsapp video.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                                {% post_to_facebook video.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                                {% post_to_telegram '' video.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                              </div>
                                           </div>
                                        </li>
                                                <li>
                                                        <span><i class="fa fa-eye"></i></span>
                                                        <span class="count-box">{% get_hit_count for video %}+</span>
                                                </li>
                                    <li>
                                        <span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">{{video.likes.all.count}}+</span>
                                    </li>
                                     </ul>
                                  </div>
                              </div>
                           </a>
                        </li>
                        {% else %}
                        <h4 class="main-title">محتوایی وجود ندارد</h4>
                        {% endif %}
                        {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="iq-upcoming-movie">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 overflow-hidden">
                     <div class="iq-main-header d-flex align-items-center justify-content-between">                        
                        <h4 class="main-title">پربازدید ترین ها</h4>
                     </div>
                     <div class="upcoming-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0 iq-rtl-direction">
                           {% for video in most_visited %}
                           {% if video %}
                           <li class="slide-item">
                              
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="{{video.image.url}}" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="{% url 'video:video_detail' video.slug %}">{{video.title}}</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                       <div class="badge badge-secondary p-1 mr-2">{{video.age}}</div>
                                       <span class="text-white">{{video.time}}</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <a href="{% url 'video:video_detail' video.slug %}" role="button" class="btn btn-hover iq-button">
                                       <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                       تماشا کردن
                                       </a>
                                    </div>
                                 </div>

                                 <div class="block-social-info">
                                     <ul class="list-inline p-0 m-0 music-play-lists">
                                        <li class="share">
                                           <span><i class="ri-share-fill"></i></span>
                                           <div class="share-box">
                                              <div class="d-flex align-items-center">
                                                {% post_to_whatsapp video.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                                {% post_to_facebook video.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                                {% post_to_telegram '' video.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                              </div>
                                           </div>
                                        </li>
                                                <li>
                                                        <span><i class="fa fa-eye"></i></span>
                                                        <span class="count-box">{% get_hit_count for video %}+</span>
                                                </li>
                                    <li>
                                        <span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">{{video.likes.all.count}}+</span>
                                    </li>
                                     </ul>
                                  </div>
                              </div>
                           </a>
                        </li>
                        {% else %}
                        <h4 class="main-title">محتوایی وجود ندارد</h4>
                        {% endif %}
                        {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="iq-upcoming-movie">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 overflow-hidden">
                     <div class="iq-main-header d-flex align-items-center justify-content-between">                        
                        <h4 class="main-title">محبوب ترین ها</h4>
                     </div>
                     <div class="upcoming-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0 iq-rtl-direction">
                           {% for video in popular_videos %}
                           {% if video %}
                           <li class="slide-item">
                              
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="{{video.image.url}}" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="{% url 'video:video_detail' video.slug %}">{{video.title}}</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                       <div class="badge badge-secondary p-1 mr-2">{{video.age}}</div>
                                       <span class="text-white">{{video.time}}</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <a href="{% url 'video:video_detail' video.slug %}" role="button" class="btn btn-hover iq-button">
                                       <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                       تماشا کردن
                                       </a>
                                    </div>
                                 </div>

                                 <div class="block-social-info">
                                     <ul class="list-inline p-0 m-0 music-play-lists">
                                        <li class="share">
                                           <span><i class="ri-share-fill"></i></span>
                                           <div class="share-box">
                                              <div class="d-flex align-items-center">
                                                {% post_to_whatsapp video.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                                {% post_to_facebook video.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                                {% post_to_telegram '' video.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                              </div>
                                           </div>
                                        </li>
                                                <li>
                                                        <span><i class="fa fa-eye"></i></span>
                                                        <span class="count-box">{% get_hit_count for video %}+</span>
                                                </li>
                                    <li>
                                        <span><i class="ri-heart-fill"></i></span>
                                        <span class="count-box">{{video.likes.all.count}}+</span>
                                    </li>
                                     </ul>
                                  </div>
                              </div>
                           </a>
                        </li>
                        {% else %}
                        <h4 class="main-title">محتوایی وجود ندارد</h4>
                        {% endif %}
                        {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="iq-upcoming-movie">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-12 overflow-hidden">
                     <div class="iq-main-header d-flex align-items-center justify-content-between">                        
                        <h4 class="main-title"> سریال ها</h4>
                        <a class="iq-view-all" href="{% url 'video:serial_list' %}">مشاهده همه</a>
                     </div>
                     <div class="upcoming-contens">
                        <ul class="favorites-slider list-inline row p-0 mb-0 iq-rtl-direction">
                           {% for ser in serial %}
                           {% if ser %}
                           <li class="slide-item">
                              
                              <div class="block-images position-relative">
                                 <div class="img-box">
                                    <img src="{{ser.image.url}}" class="img-fluid" alt="">
                                 </div>
                                 <div class="block-description">
                                    <h6 class="iq-title"><a href="{% url 'video:serial_detail' ser.slug %}">{{ser.name}}</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                                       <div class="badge badge-primary p-1 mr-2">شمار قسمت ها: {{ser.video.all.count}}</div>
                                       <div class="badge badge-secondary p-1 mr-2">{{ser.age}}+</div>
                                       <span class="text-white p-1 btn btn-danger">{{ser.year}}</span>
                                    </div>
                                    <div class="hover-buttons">
                                       <a href="{% url 'video:serial_detail' ser.slug %}" role="button" class="btn btn-hover iq-button">
                                       <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                       تماشا سریال
                                       </a>
                                    </div>
                                 </div>

                                 <div class="block-social-info">
                                     <ul class="list-inline p-0 m-0 music-play-lists">
                                        <li class="share">
                                           <span><i class="ri-share-fill"></i></span>
                                           <div class="share-box">
                                              <div class="d-flex align-items-center">
                                                {% post_to_whatsapp ser.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                                {% post_to_facebook ser.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                                {% post_to_telegram '' ser.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                              </div>
                                           </div>
                                        </li>
                                        <li>
                                          <span><i class="fa fa-eye"></i></span>
                                          <span class="count-box">{% get_hit_count for ser %}+</span>
                                  </li>
                                     </ul>
                                  </div>
                              </div>
                           </a>
                        </li>
                        {% else %}
                        <h4 class="main-title">محتوایی وجود ندارد</h4>
                        {% endif %}
                        {% endfor %}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <!-- MainContent End-->
{% endblock %}