.dropdown {
    position: relative;
    display: inline-block;
    color: black !important;
}

.dropdown-content {
    display: none;
    position: relative;
    right: 0.3em;
    top: 15px;
    background-color: #ff0000b9;
    min-width: 220px;
    height: 33px;
    width: 20px;
    box-shadow: 0px 2px 2px 0px rgba(255, 0, 0, 0.39);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
    border-radius: 10px;
}

.dropdown-filter {
    display: none;
    position: relative;
    right: -5.5em;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    min-width:150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
}

.dropdown-filter a {
    color: inherit;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.dropdown-filter a:hover {
    color: white;
    background-color: #343a40;
    z-index: 2;
}

.dropdown:hover .dropdown-filter {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#style-share {
    color: black !important;
}

.title-share-video {
    text-align: center;
}

.fa-whatsapp {
    color: rgb(0, 0, 0) !important;
    font-size: 2em !important;
    margin-bottom: 15px;
    margin-top: -13px;
}

.telegram1 {
    color: rgb(0, 0, 0) !important;
    font-size: 2em !important;
    margin-bottom: 15px;
    margin-top: -42px;
    margin-left: 50px;
}


.fa-reddit {
    color: rgb(0, 0, 0) !important;
    font-size: 2em !important;
    margin-bottom: 15px;
    margin-top: -42px;
    margin-left: 100px;
}

#twitter {
    color: rgb(0, 0, 0) !important;
    font-size: 2em !important;
    margin-bottom: 15px;
    margin-top: -42px;
    margin-left: 150px;
}