{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
      تغییر اطلاعات
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block main %}
<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50"
style="background-image: url({% static 'Theme/images/about-us/01.jpg' %} );">
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">تغییر اطلاعات</h2>
                <ol class="breadcrumb main-bg">
                    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه</a></li>
                    <li class="breadcrumb-item active">تغییر اطلاعات</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>

    <!-- MainContent -->
    <section class="m-profile manage-p" style="position: relative;bottom: 30px;">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-lg-10">
                    <div class="sign-user_card">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="upload_profile d-inline-block">
                                 {% if user.image %}
                                 <img src="{{user.image.url}}" class="profile-pic rounded-circle img-fluid" alt="userimage" style="height: 150px;width: 150px;">
                                 {% else %}
                                 <img src="{% static 'Theme/images/user/user.jpg' %}" class="profile-pic rounded-circle img-fluid" alt="user">
                                 {% endif %}
                                 <form class="mt-4" action="" method="post"  enctype="multipart/form-data">
                                    {% csrf_token %}
                                 <div class="p-image">   
                                    <i class="ri-pencil-line upload-button"></i>
                                   <input type="file" name="image" accept="image/*" class="file-upload" id="id_image">
                                   </div>
                                </div>
                              
                            </div>
                            <div class="col-lg-10 device-margin">
                                <div class="profile-from">
                                    <h4 class="mb-3">مدیریت نمایه</h4>
                                    {% if form.error %}
                                    <div class="alert alert-danger">{{form.error}}</div>
                                    {% endif %}
                                    
                                       <div class="form-group">
                                        {% if user.image %}        
                                        <input type="checkbox" name="image-clear" id="image-clear_id" class="btn">
                                        <label for="image-clear_id">حذف تصویر نمایه</label>   
                                        {% endif %}         
                                       </div>
                                        <div class="form-group">
                                            {{form.full_name|as_crispy_field}}
                                        </div>

                                        <div class="form-group d-flex flex-md-row flex-column">
                                            {{form.gender|as_crispy_field}}
                                            <div class="iq-custom-select d-inline-block lang-dropdown manage-dd">
                                                {{form.language|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <button type="submit" class="btn btn-hover">ذخیره</button>
                                            <a href="{% url 'account:user-setting' %}" class="btn btn-link">لغو</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}