{% extends 'base.html' %}
{% load static %}
{% block title %}
بازیابی گذرواژه
{% endblock %}
{% block main %}
        <section class="sign-in-page">
            <div class="container">
               <div class="row justify-content-center align-items-center height-self-center">
                    <div class="col-lg-5 col-md-12 align-self-center">
                        <div class="sign-user_card ">                    
                            <div class="sign-in-page-data">
                                <div class="sign-in-from w-100 m-auto">
                                <h3 class="mb-3 text-center">تغییر رمز عبور</h3>
                                {% if form.new_password1.errors %}
                            	<div class="alert alert-danger">{{form.new_password1.errors}}</div>
                            	{% endif %}
								{% if form.new_password2.errors %}
                            	<div class="alert alert-danger">{{form.new_password2.errors}}</div>
                            	{% endif %}
                                <form class="" method="post" id="change-password-form">
                                {% csrf_token %}
                                    <div class="field">
                                        <i class="fa fa-lock"></i>
                                        <h5>گذرواژه</h5>
                                        {{form.new_password1}}
                                    </div>
                                    <div class="field">
                                        <i class="fa fa-lock"></i>
                                        <h5>تکرار گذرواژه</h5>
                                        {{form.new_password2}}
                                    </div>
                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                                </div>
                                </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>      
                                
            </div>                
        </section>

{% endblock %}