{% extends 'base.html' %}
{% load static %}

{% block title %}
    تنظیمات حساب کاربری
{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex"/>
{% endblock %}

{% block main %}
<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50"
style="background-image: url({% static 'Theme/images/about-us/01.jpg' %});">
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">تنظیمات حساب کاربری</h2>
                <ol class="breadcrumb main-bg">
                    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه</a></li>
                    <li class="breadcrumb-item active"> تنظیمات حساب کاربری</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>

    <!-- MainContent -->
    <section class="m-profile setting-wrapper">        
        <div class="container">
            <h4 class="main-title mb-4">تنظیمات حساب</h4>
            <div class="row">
                <div class="col-lg-4 mb-3">
                  {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <div class="alert-danger rounded"
                           style="padding: 5px">
                          {{ message }}
                      </div>
                  {% else %}
                      <div class="alert-success rounded"
                           style="padding: 5px">
                          {{ message }}
                      </div>
                  {% endif %}
                  {% endfor %}
                    <div class="sign-user_card text-center">
                        {% if request.user.image %}
                        <img src="{{request.user.image.url}}" class="rounded-circle img-fluid d-block mx-auto mb-3" alt="userimage" style="height: 50px;width: 50px;">
                        {% else %}
                        <img src="{% static 'Theme/images/user/user.jpg' %}" class="rounded-circle img-fluid d-block mx-auto mb-3" alt="user">
                        {% endif %}
                        {% if user.full_name %}
                        <h4 class="mb-3">{{ user.full_name }}</h4>
                        {% else %}
                        <h4 class="mb-3">بدون نام</h4>
                        {% endif %}
                        {% if user.bio %}
                        <p>{{user.bio}}</p>
                        {% else %}
                        <p>بیوگرافی ثبت نشده</p>
                        {% endif %}
                        <a href="{% url 'account:manage-profile' %}" class="edit-icon text-primary">ویرایش</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="sign-user_card">
                        <h5 class="mb-3 pb-3 a-border">مشخصات شخصی</h5>
                        <div class="row align-items-center justify-content-between mb-3">
                            <div class="col-md-8">
                                <span class="text-light font-size-13">ایمیل</span>
                                <p class="mb-0">{{ user.email }}</p>
                            </div>   
                            <div class="col-md-4 text-md-right text-left">                      
                                <a href="{% url 'account:change-email' %}" class="text-primary">ویرایش</a>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between mb-3">
                            <div class="col-md-8">
                                <span class="text-light font-size-13">رمز عبور</span>
                                <p class="mb-0">************</p>
                            </div>   
                            <div class="col-md-4 text-md-right text-left">
                                <a href="{% url 'account:change-password' %}" class="text-primary">ویرایش رمز عبور</a>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between mb-3">
                            <div class="col-md-8">
                                <span class="text-light font-size-13">تاریخ ثبت نام</span>
                                <p class="mb-0">{{ user.get_jalali_date }}</p>
                            </div>
                            <div class="col-md-4 text-md-right text-left">
                                <a  class="text-primary"></a>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-8">
                                <span class="text-light font-size-13">زبان</span>
                                {% if user.language %}
                                <p class="mb-0">{{ user.language }}</p>
                                {% else %}
                                <p class="mb-0">زبان کاربر ثبت نشده است.</p>
                                {% endif %}
                            </div>
                            <div class="col-md-4 text-md-right text-left">
                                <a href="{% url 'account:manage-profile' %}" class="text-primary">ویرایش</a>
                            </div>
                        </div>
                        {% if request.user.subs.all %}
                        <h5 class="mb-3 mt-4 pb-3 a-border">جزئیات صورتحساب</h5>
                        <div class="row justify-content-between mb-3">
                            <div class="col-md-8 r-mb-15">
                                {% for sub in request.user.subs.all %}
                                <p>تاریخ انقضا طرح اشتراکی حساب شما <a class="text-danger">{{sub.get_jalali_date}}</a> می باشد</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}       
                        <h5 class="mb-3 mt-4 pb-3 a-border">جزئیات طرح</h5>
                        <div class="row justify-content-between mb-3">
                            <div class="col-md-8">
                                {% if request.user.subs.all %}
                                    {% for sub in request.user.subs.all %}
                                <p> نام طرح: {{sub.Subscription_plan.title}}</p> 
                                    {% endfor %}
                                {% else %}
                                <p>لطفا یک طرح اشتراک انتخاب کنید</p>  
                                <div class="col-md-4 text-md-right text-left">
                                    <a href="{% url 'account:select-plan' %}" class="text-primary">انتخاب طرح</a>
                                </div>   
                                {% endif %}                          
                            </div>
                        </div>
                        <!-- <h5 class="mb-3 pb-3 mt-4 a-border">تنظیمات</h5>
                        <div class="row">
                            <div class="col-12 setting">
                                <a href="#" class="text-body d-block mb-1">فعالیت جاری دستگاه اخیر</a>
                                <a href="#" class="text-body d-block mb-1">خروج از سیستم همه دستگاه ها</a>
                                <a href="#" class="text-body d-block">اطلاعات شخص خود را بارگیری کنید</a>
                            </div>                            
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- MainContent End-->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
      </div>
      <!-- back-to-top End -->
{% endblock %}