{% extends 'base.html' %}

{% load static %}
{% load social_share %}
{% load hitcount_tags %}

{% block title %}
        {{video.title}}
{% endblock %}

{% block metadescription %}
    <meta name="description" content="{{ video.meta_description }}">
{% endblock %}

{% block meta %}
   <meta name="robots" content="index , follow"/>
{% endblock %}

{% block main %}

{% if request.resolver_match.url_name == 'video_detail' %}
<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50"
style="background-image: url({% static 'Theme/images/about-us/01.jpg' %});">
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">{{video.title}}</h2>
                <ol class="breadcrumb main-bg">
                    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه</a></li>
                    <li class="breadcrumb-item"><a
                        href="">{{ video.category.last }}</a>
                    </li>
                    <li class="breadcrumb-item"><a
                        href="{% url 'video:video_detail' video.slug %}">{{ video.slug }}</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>
{% endif %}

 <!-- Banner Start -->
 <div class="video-container iq-main-slider">
    <video class="video d-block" controls loop>
       <source src="{{ video.video.url }}" type="video/mp4">
    </video>
 </div>
 <!-- Banner End -->

 <!-- MainContent -->
 <div class="main-content movi">
    <section class="movie-detail container-fluid">
       <div class="row">
          <div class="col-lg-12">
             <div class="trending-info g-border">
                <h1 class="trending-text big-title text-uppercase mt-0">{{ video.title }}</h1>
                <ul class="p-0 list-inline d-flex align-items-center movie-content">
                    {% for category in video.category.all %}
                   <li class="text-white">{{category.title}}</li>
                    {% endfor %}
                </ul>
                <div class="d-flex align-items-center text-white text-detail">
                <span class="badge badge-secondary p-3">{{video.age}}+</span>
                   <span class="ml-3">{{video.time}}</span>
                   <span class="trending-year">{{ video.get_jalali_date }}</span>
                </div>
                <div class="d-flex align-items-center series mb-4">
                   <a href=""><h5>آماربازدید</h5></a>
                   <span class="text-gold ml-3">{% get_hit_count for video %}</span>
                </div>
                <p class="trending-dec w-100 mb-0">{{video.description|safe}}</p>
                <ul class="list-inline p-0 mt-4 share-icons music-play-lists">

                    {% if request.user.is_authenticated %}
                        {% if is_fav %}
                        <li><span><a 
                            onclick="favorite({{ video.id }})">
                            <i class="fa fa-bookmark" id="favorite"></i>
                        </a></span></li>
                        {% else %}
                        <li><span><a 
                            onclick="favorite({{ video.id }})">
                            <i class="fa fa-bookmark-o" id="favorite" type="button"></i>
                        </a></span></li>
                        {% endif %}

                    {% else %}

                    <li><span><a onclick="Warning()"> <i
                                class="fa fa-bookmark-o" type='button'
                                aria-hidden="true"></i></a></span></li>

                    {% endif %}

                   {% if request.user.is_authenticated %}
                        <li><span>
                           {% if liked %}
                           <a onclick="like('{{video.slug}}','{{video.id}}')"><i class="fa fa-heart" type='button' id="like" aria-hidden="true"></i></a>
                           {% else %}
                           <a onclick="like('{{video.slug}}','{{video.id}}')"><i class="fa fa-heart-o" type='button' id="like" aria-hidden="true"></i></a>
                           {% endif %}
                        </span></li>
                    {% else %}
                        <li><span><a 
                            id="" href="{% url "account:sign-in" %}">
                        <i class="fa fa-heart-o" id="heart" type='button'
                                aria-hidden="true"></i>
                        </a></span></li>
                    {% endif %}

                   <li class="share">
                      <span><i class="ri-share-fill"></i></span>
                      <div class="share-box">
                            {% post_to_whatsapp video.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                            {% post_to_facebook video.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                            {% post_to_telegram '' video.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                            {% post_to_reddit '' video.get_absolute_url '<i class="ri-reddit-fill"></i>' %}
                         </div>
                      </div>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </section>
    <section id="iq-favorites" class="s-margin iq-rtl-direction">
       <div class="container-fluid">
          <div class="row">
             <div class="col-sm-12 overflow-hidden">
                <div class="iq-main-header d-flex align-items-center justify-content-between">                     
                   <h4 class="main-title"><a href="">فیلم های مشابه</a></h4>                     
                </div>
                <div class="favorites-contens">
                   <ul class="list-inline favorites-slider row p-0 mb-0">
                    {% for suggested_video in suggested_videos %}
                    {% if suggested_video.id != video.id %}
                    <li class="slide-item">
                              
                     <div class="block-images position-relative">
                        <div class="img-box">
                           <img src="{{suggested_video.image.url}}" class="img-fluid" alt="">
                        </div>
                        <div class="block-description">
                           <h6 class="iq-title"><a href="{% url 'video:video_detail' suggested_video.slug %}">{{suggested_video.title}}</a></h6>
                           <div class="movie-time d-flex align-items-center my-2 iq-ltr-direction">
                              <div class="badge badge-secondary p-1 mr-2">{{suggested_video.age}}+</div>
                              <span class="text-white">{{suggested_video.time}}</span>
                           </div>
                           <div class="hover-buttons">
                              <a href="{% url 'video:video_detail' suggested_video.slug %}" role="button" class="btn btn-hover iq-button">
                              <i class="fa fa-play mr-1" aria-hidden="true"></i>
                              تماشا کردن
                              </a>
                           </div>
                        </div>
         
                        <div class="block-social-info">
                            <ul class="list-inline p-0 m-0 music-play-lists">
                               <li class="share">
                                  <span><i class="ri-share-fill"></i></span>
                                  <div class="share-box">
                                     <div class="d-flex align-items-center">
                                       {% post_to_whatsapp suggested_video.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                       {% post_to_facebook suggested_video.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                       {% post_to_telegram '' suggested_video.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                     </div>
                                  </div>
                               </li>
         
                               <li>
                                 <span><i class="fa fa-eye"></i></span>
                                 <span class="count-box">{% get_hit_count for suggested_video %}+</span>
                         </li>
             <li>
                 <span><i class="ri-heart-fill"></i></span>
                 <span class="count-box">{{suggested_video.likes.all.count}}+</span>
             </li>
                            </ul>
                         </div>
                     </div>
                  </a>
               </li>
                      {% endif %}
                      {% endfor %}
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>
{% endblock %}