{% load static %}
<footer id="contact" class="footer-one iq-bg-dark">
     
    <!-- Address -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row footer-standard">
                <div class="col-lg-7">
                    <div class="widget text-left">
                        <div class="menu-footer-link-1-container">
                            <ul id="menu-footer-link-1" class="menu p-0">
                                <li id="menu-item-7314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7314">
                                    <a href="{% static 'Theme/about.pdf' %}">درباره پروژه</a>
                                </li>
                                <li id="menu-item-7316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7316">
                                    <a href="{% url 'info:privacy-policy' %}">سیاست حفظ حریم خصوصی</a>
                                </li>
                                <li id="menu-item-7118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                   <a href="{% url 'info:faq' %}">سوالات متداول</a>
                               </li>
                                <li id="menu-item-7118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7118">
                                    <a href="{% url 'video:watch' %}">لیست تماشا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget text-left">			
                        <div class="textwidget">
                            <p><small>راست چین شده و فارسی سازی توسط <a class="text-primary title" href="https://netcopy.ir">نت کپی</a></small></p>
                            <p><a href="https://github.com/YasinSamooei"><strong>توسعه داده شده با جنگو توسط <a class="text-success">یاسین سموعی</a><a class="text-primary title"> (الکتروکد) </a></strong></a></p>
                            <a href="https://github.com/abolfazlz15"><p><strong>با همکاری <a href="https://github.com/abolfazlz15" class="text-primary title">ابوالفضل ذاکر</a></strong></p></a>
                            
                        </div>
                    </div>                        
                </div>
                <div class="col-lg-2 col-md-6 mt-4 mt-lg-0">
                    <h6 class="footer-link-title">
                        ما را دنبال کنید :
                    </h6>
                    <ul class="info-share"> 
                        <li><a target="_blank" href="https://tiphub.net/teacher_profile/7"><i class="fa fa-user"></i></a></li>
                        <li><a target="_blank" href="https://instagram.com/y.electrocode"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="https://linkedin.com/in/yasin-samooei"><i class="fa fa-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://github.com/YasinSamooei"><i class="fa fa-github"></i></a></li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="widget text-left">
                        <div class="textwidget">
                            <h6 class="footer-link-title">برند شخصی:</h6>
                            <div class="d-flex align-items-center">
                                <a class="app-image" href="https://github.com/YasinSamooei">
                                    <img src="{% static 'Theme/images/elco-white.png' %}" alt="play-store" style="width: 130px;height:115px ;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Address END -->
</footer>
