{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>قالب html فیلم و سریال</title>
    <link rel="shortcut icon" href="{% static 'Theme/images/elco-black.png' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Theme/css/bootstrap.min.css' %}"/>
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'Theme/css/typography.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'Theme/css/style.css' %}"/>
    <!-- Responsive -->
    <link rel="stylesheet" href="{% static 'Theme/css/responsive.css' %}"/>
    <!-- Social Media Share -->
    <link rel="stylesheet" href="{% static 'Theme/css/drop-down-share.css' %}"/>
 </head>
