{% load static %}
      <!-- loader Start -->
      <div id="loading">
        <div id="loading-center">
        </div>
     </div>
     <!-- loader END -->
     <!-- Header -->
     <header id="main-header">
        <div class="main-header">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                       <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <div class="navbar-toggler-icon" data-toggle="collapse">
                             <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                             <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                             <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                          </div>
                       </a>
                       <a class="navbar-brand" href="index.html"> <img class="img-fluid logo" src="{% static 'Theme/images/logo.png' %}"
                          alt="streamit" /> </a>
                       
                       <div class="mobile-more-menu">
                          <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton"
                             data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-more-line"></i>
                          </a>
                          <div class="more-menu" aria-labelledby="dropdownMenuButton">
                             <div class="navbar-right position-relative">
                                <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                                   <li>
                                      <a href="#" class="search-toggle">
                                      <i class="ri-search-line"></i>
                                      </a>
                                      <div class="search-box iq-search-bar">
                                       <form action="{% url 'video:search' %}" class="searchbox" method="get">
                                          <div class="form-group position-relative">
                                             <input type="search" class="text search-input font-size-12"
                                             name="q" placeholder="برای جستجو اینجا را تایپ کنید ..." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" required>
                                             <i class="search-link ri-search-line"></i>
                                          </div>
                                       </form>
                                      </div>
                                   </li>
                                 {% if request.user.is_authenticated %}
                                   <li class="nav-item nav-icon">
                                      <a href="#" class="search-toggle position-relative">
                                       {% if user.notifs.all %}
                                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                                       class="noti-svg">
                                       <path fill="none" d="M0 0h24v24H0z" />
                                       <path
                                          d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                    </svg>                                     
                                    {% else %}
                                       <img src="{% static 'Theme/images/notif.png' %}" alt="yrdy"  width="22" height="22" viewBox="0 0 24 24">
                                     {% endif %}
                                         <span class="bg-danger dots"></span>
                                      </a>
                                      <div class="iq-sub-dropdown">
                                         <div class="iq-card shadow-none m-0">
                                            <div class="iq-card-body">
                                             {% for notif in user.notifs.all %}
                                               <a href="" class="iq-sub-card" onclick="delete_notif('{{notif.id}}')">
                                                  <div class="media align-items-center">
                                                     <!-- <img src="{{notif.video.image.url}}" class="img-fluid mr-3"
                                                        alt="streamit" / width="50px" height="50px"> -->
                                                     <div class="media-body">
                                                        <h6 class="mb-0 ">{{notif.message}}</h6>
                                                        <small class="font-size-12">{{notif.get_jalali_date}}</small>
                                                     </div>
                                                  </div>
                                               </a>
                                             {% endfor %}
                                            </div>
                                          
                                         </div>
                                      </div>
                                   </li>
                                   <li>
                                      <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center">
                                       {% if request.user.image %}
                                       <img src="{{request.user.image.url}}" class="img-fluid avatar-40 rounded-circle" alt="userimage" style="height: 50px;width: 50px;">
                                       {% else %}
                                       <img src="{% static 'Theme/images/user/user.jpg' %}" class="img-fluid avatar-40 rounded-circle" alt="user">
                                       {% endif %}
                                      </a>
                                      <div class="iq-sub-dropdown iq-user-dropdown">
                                         <div class="iq-card shadow-none m-0">
                                            <div class="iq-card-body p-0 pl-3 pr-3">
                                               <a href="{% url 'account:manage-profile' %}" class="iq-sub-card setting-dropdown">
                                                  <div class="media align-items-center">
                                                     <div class="right-icon">
                                                        <i class="ri-file-user-line text-primary"></i>
                                                     </div>
                                                     <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">مدیریت نمایه</h6>
                                                     </div>
                                                  </div>
                                               </a>
                                               <a href="{% url 'account:user-setting' %}" class="iq-sub-card setting-dropdown">
                                                  <div class="media align-items-center">
                                                     <div class="right-icon">
                                                        <i class="ri-settings-4-line text-primary"></i>
                                                     </div>
                                                     <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">تنظیمات</h6>
                                                     </div>
                                                  </div>
                                               </a>
                                               <a href="{% url 'account:pricing-plan' %}" class="iq-sub-card setting-dropdown">
                                                  <div class="media align-items-center">
                                                     <div class="right-icon">
                                                        <i class="ri-settings-4-line text-primary"></i>
                                                     </div>
                                                     <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">قیمت پلن ها</h6>
                                                     </div>
                                                  </div>
                                               </a>
                                               <a href="{% url 'video:watch' %}" class="iq-sub-card setting-dropdown">
                                                <div class="media align-items-center">
                                                   <div class="right-icon">
                                                      <i class="ri-settings-4-line text-primary"></i>
                                                   </div>
                                                   <div class="media-body ml-3">
                                                      <h6 class="mb-0 ">لیست تماشا</h6>
                                                   </div>
                                                </div>
                                             </a>
                                               <a href="{% url 'account:logout' %}" class="iq-sub-card setting-dropdown">
                                                  <div class="media align-items-center">
                                                     <div class="right-icon">
                                                        <i class="ri-logout-circle-line text-primary"></i>
                                                     </div>
                                                     <div class="media-body ml-3">
                                                        <h6 class="mb-0">خروج</h6>
                                                     </div>
                                                  </div>
                                               </a>
                                            </div>
                                         </div>
                                      </div>
                                   </li>
                                 {% else %}
                                 <li>
                                    <div class="iq-sub-dropdown iq-user-dropdown">
                                       <div class="iq-card shadow-none m-0">
                                          <div class="iq-card-body p-0 pl-3 pr-3">
                                             <a href="{% url 'account:login' %}" class="iq-sub-card setting-dropdown">
                                                <div class="media align-items-center">
                                                   <div class="right-icon">
                                                      <i class="ri-logout-circle-line text-primary"></i>
                                                   </div>
                                                   <div class="media-body ml-3">
                                                      <h6 class="mb-0">خروج</h6>
                                                   </div>
                                                </div>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                                 {% endif %}
                                </ul>
                             </div>
                          </div>
                       </div>
                       <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <div class="menu-main-menu-container">
                             <ul id="top-menu" class="navbar-nav ml-auto">
                                <li class="menu-item">
                                   <a href="{% url 'home:main' %}">خانه</a>
                                </li>
                                <li class="menu-item">
                                    <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                       ژانرها
                                 </a>
                                    <div class="dropdown-menu three-column" aria-labelledby="dropdownMenuButton">
                                        {% for category in categories %}
                                       <a class="dropdown-item" href="{% url 'video:category_detail' category.slug %}">{{category.title}}</a>
                                       {% endfor %}
                                    </div>
                                </li> 
                                <li class="menu-item">
                                   <a href="show-category.html">برنامه های تلویزیونی</a>
                                </li>                                                              
                                <li class="menu-item">
                                   <a href="#">وبلاگ</a>
                                   <ul class="sub-menu">
                                      <li class="menu-item"><a href="{% url 'blog:blog-list' %}">تمام مقالات</a></li>
                                      <li class="menu-item"><a href="{% url 'blog:papular-blogs' %}">پربازدید ترین مقالات</a></li>
                                   </ul>
                                </li>
                                <li class="menu-item">
                                   <a href="#">صفحات</a>
                                   <ul class="sub-menu">
                                      <li class="menu-item"><a href="{% url 'info:about-us' %}">درباره ما</a></li>
                                      <li class="menu-item "><a href="{% url 'info:contact' %}">تماس با ما</a></li>
                                      <li class="menu-item"><a href="{% url 'info:faq' %}">سوالات متداول</a></li>
                                      <li class="menu-item"><a href="{% url 'info:privacy-policy' %}">قوانین</a></li>
                                      <li class="menu-item"><a href="#">قیمت گذاری</a>
                                      <ul class="sub-menu">
                                         <li class="menu-item"><a href="{% url 'account:pricing-plan' %}">طرح قیمت گذاری </a></li>
                                      </ul>
                                   </li>
                                   </ul>
                                </li>
                             </ul>
                          </div>
                       </div>
                       <div class="navbar-right menu-right">
                          <ul class="d-flex align-items-center list-inline m-0">
                             <li class="nav-item nav-icon">
                                <a href="#" class="search-toggle device-search">
                                <i class="ri-search-line"></i>
                                </a>
                                <div class="search-box iq-search-bar d-search">
                                   <form action="{% url 'video:search' %}" class="searchbox" method="get">
                                      <div class="form-group position-relative">
                                         <input type="search" class="text search-input font-size-12"
                                         name="q" placeholder="برای جستجو اینجا را تایپ کنید ..." value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}" required>
                                         <i class="search-link ri-search-line"></i>
                                      </div>
                                   </form>
                                </div>
                             </li>
                             <li class="nav-item nav-icon">
                                <a href="#" class="search-toggle" data-toggle="search-toggle">
                                 {% if user.notifs.all %}
                                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                                      class="noti-svg">
                                      <path fill="none" d="M0 0h24v24H0z" />
                                      <path
                                         d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
                                   </svg>
                                 {% else %}
                                   <img src="{% static 'Theme/images/notif.png' %}" alt=""  width="22" height="22" viewBox="0 0 24 24">
                                 {% endif %}
                                   <span class="bg-danger dots"></span>
                                </a>
                                <div class="iq-sub-dropdown">
                                   <div class="iq-card shadow-none m-0">
                                    {% if request.user.is_authenticated %}
                                    <div class="iq-card-body">
                                     {% for notif in user.notifs.all %}
                                       <a href="{% url 'video:delete-notif' notif.id %}" class="iq-sub-card" onclick="">
                                          <div class="media align-items-center">
                                             <img src="{{notif.video.image.url}}" class="img-fluid mr-3"
                                                alt="streamit" / width="50px" height="50px">
                                             <div class="media-body">
                                                <h6 class="mb-0 ">{{notif.message}}</h6>
                                                <small class="font-size-12">{{notif.get_jalali_date}}</small>
                                             </div>
                                          </div>
                                       </a>
                                     {% endfor %}
                                    </div>
                                  {% endif %}
                                   </div>
                                </div>
                             </li>
                             <li class="nav-item nav-icon">
                                <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
                                   data-toggle="search-toggle">
                                   {% if request.user.image %}
                                   <img src="{{request.user.image.url}}" class="img-fluid avatar-40 rounded-circle" alt="userimage" style="height: 50px;width: 50px;">
                                   {% else %}
                                   <img src="{% static 'Theme/images/user/user.jpg' %}" class="img-fluid avatar-40 rounded-circle" alt="user">
                                   {% endif %}
                                </a>
                                <div class="iq-sub-dropdown iq-user-dropdown">
                                   <div class="iq-card shadow-none m-0">
                                      <div class="iq-card-body p-0 pl-3 pr-3">
                                         <a href="{% url 'account:manage-profile' %}" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-file-user-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="my-0 ">مدیریت نمایه</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="{% url 'account:user-setting' %}" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-settings-4-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="my-0 ">تنظیمات</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="{% url 'account:pricing-plan' %}" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-settings-4-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="my-0 ">قیمت ها</h6>
                                               </div>
                                            </div>
                                         </a>
                                         <a href="{% url 'video:watch' %}" class="iq-sub-card setting-dropdown">
                                          <div class="media align-items-center">
                                             <div class="right-icon">
                                                <i class="ri-settings-4-line text-primary"></i>
                                             </div>
                                             <div class="media-body ml-3">
                                                <h6 class="mb-0 ">لیست تماشا</h6>
                                             </div>
                                          </div>
                                       </a>
                                         <a href="{% url 'account:logout' %}" class="iq-sub-card setting-dropdown">
                                            <div class="media align-items-center">
                                               <div class="right-icon">
                                                  <i class="ri-logout-circle-line text-primary"></i>
                                               </div>
                                               <div class="media-body ml-3">
                                                  <h6 class="my-0 ">خروج</h6>
                                               </div>
                                            </div>
                                         </a>
                                      </div>
                                   </div>
                                </div>
                             </li>
                          </ul>
                       </div>
                    </nav>
                    
                 </div>
              </div>
           </div>
        </div>
     </header>
     <!-- Header End -->