{% load static %}

<!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
<!-- back-to-top End -->

 <!-- jQuery, Popper JS -->
 <script src="{% static 'Theme/js/jquery-3.4.1.min.js' %}"></script>
 <script src="{% static 'Theme/js/popper.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'Theme/js/bootstrap.min.js' %}"></script>
 <!-- Slick JS -->
 <script src="{% static 'Theme/js/slick.min.js' %}"></script>
 <!-- owl carousel Js -->
 <script src="{% static 'Theme/js/owl.carousel.min.js' %}"></script>
 <!-- select2 Js -->
 <script src="{% static 'Theme/js/select2.min.js' %}"></script>
 <!-- Magnific Popup-->
 <script src="{% static 'Theme/js/jquery.magnific-popup.min.js' %}"></script>
 <!-- Slick Animation-->
 <script src="{% static 'Theme/js/slick-animation.min.js' %}"></script>
 <!-- Custom JS-->
 <script src="{% static 'Theme/js/custom.js' %}"></script>

<script>
function Warning() {
    Swal.fire({
        position: 'top-end-right',
        icon: 'warning',
        text: "برای اضافه کردن این آموزش به علاقه مندی ها وارد حساب کاربری خود شوید",
        confirmButtonText: 'باشه',
        confirmButtonColor: '#112031',
    }).then(function () {
        location.href = "{% url 'account:sign-in' %}";
    })
}


$(document).on("click", "#like_button", function (e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "{% url "video:like" %}",
        data: {
            videoid: $("#like_button").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            action: "post"
        },
        success: function (json) {
            document.getElementById("like_count").innerHTML = json["result"]
            if (json["liked"] === true) {
                document.getElementById("heart").className = "fa fa-heart";
            } else {
                document.getElementById("heart").className = "fa fa-heart-o";
            }
        },
        error: function (xhr, errmsg, err) {

        }
    });
})

function favorite(id) {
        var element = document.getElementById('favorite')
        $.get(`/add-favorite/${id}`).then(response => {
            if (response["response"] === "added") {
                element.className = 'fa fa-bookmark'
                Swal.fire({
                    position: 'top-end-right',
                    icon: 'success',
                    text: 'این آموزش به علاقه مندی های شما اضافه شد',
                    showConfirmButton: false,
                    confirmButtonColor: '#112031',
                    timer: 1500
                })

            } else {
                element.className = 'fa fa-bookmark-o'
            }
        })
    }

</script>