{% load static %}

<!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
<!-- back-to-top End -->

 <!-- jQuery, Popper JS -->
 <script src="{% static 'Theme/js/jquery-3.4.1.min.js' %}"></script>
 <script src="{% static 'Theme/js/popper.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'Theme/js/bootstrap.min.js' %}"></script>
 <!-- Slick JS -->
 <script src="{% static 'Theme/js/slick.min.js' %}"></script>
 <!-- owl carousel Js -->
 <script src="{% static 'Theme/js/owl.carousel.min.js' %}"></script>
 <!-- select2 Js -->
 <script src="{% static 'Theme/js/select2.min.js' %}"></script>
 <!-- Magnific Popup-->
 <script src="{% static 'Theme/js/jquery.magnific-popup.min.js' %}"></script>
 <!-- Slick Animation-->
 <script src="{% static 'Theme/js/slick-animation.min.js' %}"></script>
 <!-- Custom JS-->
 <script src="{% static 'Theme/js/custom.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function Warning() {
    Swal.fire({
        position: 'top-end-right',
        icon: 'warning',
        text: "برای اضافه کردن این آموزش به علاقه مندی ها وارد حساب کاربری خود شوید",
        confirmButtonText: 'باشه',
        confirmButtonColor: '#112031',
    }).then(function () {
        location.href = "{% url 'account:sign-in' %}";
    })
}

function like(slug,id){
    var element=document.getElementById("like");
    var count=document.getElementById("count");
    $.get(`/like/${slug}/${id}`).then(response=>{
        if(response['response']==="liked"){
            element.className="fa fa-heart";
            count.innerText=Number(count.innerText)+1;
            }
        else{
            element.className="fa fa-heart-o";
            count.innerText=Number(count.innerText)-1;
            }
        })
    }

function favorite(id) {
        var element = document.getElementById('favorite')
        $.get(`/add-favorite/${id}`).then(response => {
            if (response["response"] === "added") {
                element.className = 'fa fa-bookmark'
                Swal.fire({
                    position: 'top-end-right',
                    icon: 'success',
                    text: 'این آموزش به علاقه مندی های شما اضافه شد',
                    showConfirmButton: false,
                    confirmButtonColor: '#112031',
                    timer: 1500
                })

            } else {
                element.className = 'fa fa-bookmark-o'
            }
        })
    }

function reply(id, pk1, pk2, full_name) {

document.getElementById("parent_id").value = id;
document.getElementById("sender").value = pk1;
document.getElementById("receiver").value = pk2;
var MySection = document.getElementById("scroll");
MySection.scrollIntoView({block: 'start', behavior: 'smooth', inline: 'start'});
document.getElementById("get_fullname").placeholder = ` پاسخ به نظر ${full_name}`;
var div = document.getElementById("cansel_button");
var button = document.createElement('BUTTON');
var text = document.createTextNode(" لغو پاسخ ");
button.className = "btn btn-success"
button.id = 'button';
button.appendChild(text);

if (!document.getElementById('button')) {
    div.appendChild(button);
}
}

function CanselButton() {
var button = document.getElementById('button');
button.parentNode.removeChild(button);
document.getElementById("parent_id").value = null;
document.getElementById("get_fullname").placeholder = "دیدگاه خود را بنویسید";
}


// function set_value(id){
//       document.getElementById('parent_id').value=id
//       window.location.href="#body"
//       document.getElementById('body').ariaPlaceholder="پاسخ به این نظر"
//     }

    function RemoveComment(id) {
        Swal.fire({
            title: 'هشدار!!',
            text: 'آیااز حذف اطمینان دارید؟',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'خیر',
            confirmButtonText: 'بله',

        }).then((result) => {
            if (result.isConfirmed) {
                $.get(`/remove/${id}`).then(response => {
                    Swal.fire({
                        text: 'عملیات با موفقیت انجام شد',
                        icon: 'success',
                        confirmButtonText: 'باشه',
                        confirmButtonColor: '#112031',
                    }).then(function () {
                        location.reload();
                    })

                })
            }

        })
    }

</script>