{% load static %}

<!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
<!-- back-to-top End -->

 <!-- jQuery, Popper JS -->
 <script src="{% static 'Theme/js/jquery-3.4.1.min.js' %}"></script>
 <script src="{% static 'Theme/js/popper.min.js' %}"></script>
 <!-- Bootstrap JS -->
 <script src="{% static 'Theme/js/bootstrap.min.js' %}"></script>
 <!-- Slick JS -->
 <script src="{% static 'Theme/js/slick.min.js' %}"></script>
 <!-- owl carousel Js -->
 <script src="{% static 'Theme/js/owl.carousel.min.js' %}"></script>
 <!-- select2 Js -->
 <script src="{% static 'Theme/js/select2.min.js' %}"></script>
 <!-- Magnific Popup-->
 <script src="{% static 'Theme/js/jquery.magnific-popup.min.js' %}"></script>
 <!-- Slick Animation-->
 <script src="{% static 'Theme/js/slick-animation.min.js' %}"></script>
 <!-- Custom JS-->
 <script src="{% static 'Theme/js/custom.js' %}"></script>