{% extends 'base.html' %}

{% load static %}
{% load social_share %}
{% load hitcount_tags %}

{% block title %}
        پربازدید ترین مقالات
{% endblock %}

{% block meta %}
   <meta name="robots" content="index , follow"/>
{% endblock %}

{% block main %}
<div class="iq-breadcrumb-one  iq-bg-over iq-over-dark-50 my-5"
style="background-image: url({% static 'Theme/images/about-us/01.jpg' %});">
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                <h2 class="title">پربازدید ترین مقالات</h2>
                <ol class="breadcrumb main-bg">
                    <li class="breadcrumb-item"><a href="{% url 'home:main' %}">خانه</a></li>
                    <li class="breadcrumb-item active">پربازدید ترین مقالات</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>

<!-- Main container -->  
        
<main id="main" class="site-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                {% for blog in blogs %}
               <article>
                  <div class="iq-blog-box">
                     <div class="iq-blog-image">
                        <img width="1920" height="1080" src="{{blog.image.url}}" >				
                     </div>
                     <div class="iq-blog-detail">
                        <div class="iq-blog-meta">
                           <ul class="list-inline">
                              <li class="list-inline-item">
                                 <a href="#" class="iq-user"><i class="fa fa-user-o mr-1" aria-hidden="true"></i>{{blog.author.full_name}}</a>
                              </li>
                              <li class="list-inline-item">
                                 <i class="fa fa-calendar mr-1" aria-hidden="true"></i>
                                 <span class="screen-reader-text">نوشته شده در</span>
                                 <a href="#" rel="bookmark">
                                    <time  datetime="2019-02-02T12:46:15+00:00">{{blog.get_jalali_date}}</time>
                                 </a>					
                              </li>
                           </ul>
                        </div>
                        <div class="blog-title">
                           <h3 class="entry-title">
                              <a href="{% url 'blog:blog-detail' blog.slug %}">
                                {{blog.title}}</a>
                              </h3>
                        </div>
                        <div class="blog-content">
                           <p>{{blog.description|safe}}</p>
                        </div>
                        <div class="blog-button">
                           <a class="button-link" href="{% url 'blog:blog-detail' blog.slug %}">بیشتر بخوانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                        <ul class="iq-blogtag my-3">
                           <li class="iq-tag-title">
                              <i class="fa fa-tags" aria-hidden="true"></i> برچسب ها:						
                           </li>
                           {% for tag in blog.tag.all %}
                           <li><a href="{% url 'blog:tag-detail' tag.slug %}">{{tag.title}}</a></li>
                           {% endfor %}
                        </ul>
                     </div>
                  </div>
               </article>
               <div class="text-center" style="position: relative;bottom: 20px;" >
                <div class="align-items-center r-mb-23" data-animation-in="fadeInUp" data-delay-in="1.3">
                    <ul class="list-inline p-0 m-0 music-play-lists">
                        <li class="share">
                            <a class="btn btn-hover iq-button"><i class="fa fa-share-alt" id="style-share"></i> اشتراک گذاری</a>
                           <div class="share-box">
                              <div class="d-flex align-items-center">
                                {% post_to_whatsapp blog.get_absolute_url '<i class="ri-whatsapp-fill"></i>' %}
                                {% post_to_facebook blog.get_absolute_url '<i class="ri-facebook-fill"></i>' %}
                                {% post_to_telegram '' blog.get_absolute_url '<i class="ri-telegram-fill"></i>' %}
                                {% post_to_reddit '' blog.get_absolute_url '<i class="ri-reddit-fill"></i>' %}
                              </div>
                           </div>
                        </li>
                    </ul>
                </div>
            </div>
               {% endfor %}
             </div>
           {% include 'blog/sidebar.html' %}
        </div>
    </div>
</main>
<!-- Main container end -->

{% endblock %}