{% extends 'panel/base.html' %}
{% block title %}{% block title-meta %}
	لیست ویدیو
{% endblock %}{% endblock %}
{% load hitcount_tags %}
{% block main %}
		<div class="row">
          <div class="col-12">
            {% if object_list %}
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover  bg-danger">
                    <thead>
                      <tr style="background-color: black;">
                        <th>عنوان فیلم</th>
                        <th>تصویر فیلم</th>
                        <th>دسته بندی ها</th>
                        <th>منتشر کننده</th>
                        <th>مدت فیلم</th>
                        <th>زمان انتشار</th>
                        <th>تعداد بازدید</th>
                        <th>سن</th>
                        <th>حذف و ویرایش</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for video in object_list %}
                        <tr>
                          <td>{{video.title}}</td>
                          <td><img src="{{video.image.url}}" width="120"></td>
                          <td>{% for category in video.category.all %}{{category.title}}<br>{% endfor %}</td>
                          <td>{{video.creator.full_name}}</td>
                          <td>{{video.time}}</td>
                          <td>{{video.get_jalali_date}}</td>
                          <td>{% get_hit_count for video %}+</td>
                          <td>{{video.age}}+</td>
                          <td>
                            <a class="badge btn-warning" href="{% url 'panel:article-delete' video.pk %}">حذف</a>
                            <a class="badge btn-primary" href="{% url 'panel:video-update' video.pk %}">ویرایش</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
              {% else %}
              <h3>محتوایی برای نمایش وجود ندارد.</h3>
              {% endif %}
          </div>
        </div>
{% endblock %}
